:root {
    --light-blue: #00A6FB;
    --blue: #0582CA;
    --medium-dark-blue: #006494;
    --dark-blue: #003554;
    --black-blue: #051923;
    --light-green-gray: #CAD2C5;
    --light-green: #84A98C;
    --green: #52796F;
    --dark-green: #354F52;
    --dark-green-blue: #2F3E46;
}